@font-face {
    font-family: PINSCHER;
    src: url('/assets//fonts/SHPinscher-Regular.otf') ;
}

* {
    margin: 0;
    font-family: PINSCHER;
}

body {
    background: #6E7C56;
    width: 100vw - 34;
    height: 100vh - 34;
    color: #0d0d0e;
    user-select: none;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-canvas {
    background: #000;
    border: 1px solid #0D1B1E;
}

h1 {
    text-align: center;
    font-size: 2rem;
    width: 80%;
    border-bottom: 2px solid #0d0d0e;
}
h2 {
    text-align: center;
    font-size: 1.6rem;
}

li {
    padding: 0.1rem 2rem ;
    margin: 0.5rem 0;
    list-style: none;
}


.bold {
    font-weight: 600;
}
.hyperlink {
    color: rgb(26, 56, 6);
}
.small {
    font-size:small;
    font-weight: 600;
}

button {
    padding: 0.3rem 0.2rem ;
    margin: 0.3rem 0;
    font-size: large;
    width: 150px;
    border: rgb(14, 146, 14) solid 3px;
    background: #17191a;
    color: rgb(14, 146, 14);    
}

  
  @media only screen and (max-width: 500px) {
    #extra > ul, #extra, #menu, #instrucoes, #records > ul > li, #list {
        width: 95%;
        min-width: none;
    }

  }


#menu {
    background: rgb(14, 146, 14);
    position: absolute;
    padding: 5px 10px 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.options {
    list-style: none;
    padding: 0;
    width: 400px;
}
.options > li:hover {
    background-color: #17191a;
    color: rgb(14, 146, 14);
}

#options-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#options-ranking > ul > li {
    width: 400px;
}

#options-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 12px;    
}
#options-instruction > p {
    text-align: left;
    width: 90%;
}

#options-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 6px;
}
#options-extra > p {
    text-align: left;
    width: 90%;
}
#options-extra > ul {
    text-align: left;
    width: 400px;
    margin: 0;
    padding: 0;
}

#options-extra, #options-instruction, #options-ranking {
    display: none;
}

#options-btn-goBack {
    display: none;
    place-self: center;
    justify-content: center;
}